<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
     integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
     integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/layout.css">
    <title>PTTI Profile</title>
  </head>
  <body>
    <ul class="nav nav-pills">
     <li class="active"><a href="/profile">Profile</a></li>
     <% if (typeof user == 'object' && user && user.type.indexOf('admin') !== -1) { %>
     <li><a href="/user-management">User management</a></li>
     <li><a href="/institute-management">Institute management</a></li>
     <li><a href="/group-management">Group management</a></li>
     <li><a href="/test-management">Test management</a></li>
     <% } %>
     <% if (typeof user == 'object' && user && user.type.indexOf('psychologist') !== -1) { %>
       <li><a href="/testxuser-management">TestsxUser management</a></li>
     <% } %>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col-sm-6col-md-offset-3 ">
          <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          </div>
          <div class="well">
            <h3><span class="fa fa-user"></span> <%- user.name %> <%- user.surname %> </h3>
            <p><strong>email</strong>: <%- user.email %></p>
            <p><strong>ID</strong>: <%- user.idType %> <%- user.idNum %></p>
            <p><strong>Birth date</strong>: <%- user.birthDate %> </p>
            <p><strong>Gender</strong>: <%- user.gender %> </p>
            <p><strong>Address</strong>: <%- user.address %> </p>
            <p><strong>Phone number</strong>: <%- user.phoneNumber %> </p>
            <p>
              <strong>Roles</strong>
              <ul>
                <% for (t of user.type) { %>
                  <li><%= t.charAt(0).toUpperCase() + t.slice(1); %></li>
                <% } %>
              </ul>
            </p>
            <% if (user.type.indexOf('student') !== -1) { %>
              <p>
                <strong>Assigned tests</strong>:
                <ul>
                  <% for (let t of user.tests) { %>
                    <li><%= t.name %></li>
                  <% } %>
                </ul>
              </p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
